<div class="container messages">
  {{#if chats}}
    {{#each chats}}
      <div class="container d-flex {{type}}">
        <p class="text-danger">[{{type}}]:
          <em class="text-success">{{message}}</em></p>
      </div>
    {{/each}}
  {{/if}}
</div>